In [140]:
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta

In [141]:
import csv
file_path = "/content/drive/MyDrive/Colab Notebooks/seoul.csv"
f = open(file_path,'rt')
reader = csv.reader(f)

csv_list = []
for l in reader:
  csv_list.append(l)
f.close()

df = pd.DataFrame(csv_list)

In [142]:
df = df.rename(columns=df.iloc[0])

In [143]:
df

,"﻿""기준일ID""",시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,None
0,"﻿""기준일ID""",시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,None
1,20230601,00,11350619,20480.003100000002,777.956,1002.934,1252.6470999999999,454.36720000000003,379.06920000000002,315.37090000000001,...,341.41739999999999,473.57049999999998,966.23689999999999,1431.5940000000001,1058.9313,902.9941,528.68769999999995,363.0009,1091.1654000000001,
2,20230601,00,11680750,19333.912199999999,792.7288,252.23179999999999,315.25740000000002,289.428,535.96849999999995,725.13080000000002,...,776.24289999999996,892.35900000000004,733.67809999999997,753.5575,589.20429999999999,695.28020000000004,681.0684,786.79349999999999,2075.6694000000002,
3,20230601,00,11680740,16734.231199999998,598.5521,383.18630000000002,640.00070000000005,410.72590000000002,400.70240000000001,623.86410000000001,...,601.26229999999998,911.72280000000001,794.8261,833.84079999999994,656.61080000000004,660.40129999999999,500.85809999999998,455.0788,846.84630000000004,
4,20230601,00,11680655,37204.530700000003,1954.0945,996.86450000000002,1083.5772999999999,732.44809999999995,935.69740000000002,963.47109999999998,...,1180.4358999999999,1790.1165000000001,1843.5413000000001,1934.0668000000001,1502.6302000000001,1299.8424,941.04229999999995,960.16669999999999,2378.1509000000001,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90209,20230609,20,11620565,21269.019799999998,1240.2273,727.67079999999999,606.86369999999999,494.6003,525.74210000000005,525.85979999999995,...,577.3347,801.7944,873.79349999999999,926.80470000000003,764.51499999999999,814.17010000000005,699.48739999999998,634.99090000000001,1912.9396999999999,
90210,20230609,20,11620575,21431.906500000001,483.4187,208.8323,329.22739999999999,780.54160000000002,1488.9753000000001,1192.3598999999999,...,1182.4775,974.34609999999998,726.70129999999995,780.45119999999997,628.37860000000001,732.51220000000001,608.9212,517.17660000000001,1418.5039999999999,
90211,20230609,20,11620585,27769.122599999999,522.3733,237.5427,1012.755,1982.6934000000001,2600.5599000000002,1768.3683000000001,...,1561.7089000000001,1081.9064000000001,735.32749999999999,720.00810000000001,619.59849999999994,579.12540000000001,488.88909999999998,329.16219999999998,962.65260000000001,
90212,20230609,20,11620595,40822.445099999997,639.7606,336.2167,960.19299999999998,2249.8472000000002,3509.9461000000001,2580.8977,...,2184.3613,1619.7128,1144.0186000000001,1124.8843999999999,1056.1977999999999,1196.9358999999999,1032.6536000000001,826.48289999999997,1990.7153000000001,
90213,20230609,20,11620605,27795.369600000002,1254.7969,571.10940000000005,501,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [144]:
df = df.drop(df.index[0])
df

,"﻿""기준일ID""",시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,None
1,20230601,00,11350619,20480.003100000002,777.956,1002.934,1252.6470999999999,454.36720000000003,379.06920000000002,315.37090000000001,...,341.41739999999999,473.57049999999998,966.23689999999999,1431.5940000000001,1058.9313,902.9941,528.68769999999995,363.0009,1091.1654000000001,
2,20230601,00,11680750,19333.912199999999,792.7288,252.23179999999999,315.25740000000002,289.428,535.96849999999995,725.13080000000002,...,776.24289999999996,892.35900000000004,733.67809999999997,753.5575,589.20429999999999,695.28020000000004,681.0684,786.79349999999999,2075.6694000000002,
3,20230601,00,11680740,16734.231199999998,598.5521,383.18630000000002,640.00070000000005,410.72590000000002,400.70240000000001,623.86410000000001,...,601.26229999999998,911.72280000000001,794.8261,833.84079999999994,656.61080000000004,660.40129999999999,500.85809999999998,455.0788,846.84630000000004,
4,20230601,00,11680655,37204.530700000003,1954.0945,996.86450000000002,1083.5772999999999,732.44809999999995,935.69740000000002,963.47109999999998,...,1180.4358999999999,1790.1165000000001,1843.5413000000001,1934.0668000000001,1502.6302000000001,1299.8424,941.04229999999995,960.16669999999999,2378.1509000000001,
5,20230601,00,11650620,19631.3469,649.8112,396.4194,724.46029999999996,746.0453,507.14600000000002,535.36350000000004,...,589.77250000000004,835.28200000000004,797.57100000000003,939.94960000000003,779.51700000000005,764.37040000000002,699.3202,523.8623,1357.1672000000001,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90209,20230609,20,11620565,21269.019799999998,1240.2273,727.67079999999999,606.86369999999999,494.6003,525.74210000000005,525.85979999999995,...,577.3347,801.7944,873.79349999999999,926.80470000000003,764.51499999999999,814.17010000000005,699.48739999999998,634.99090000000001,1912.9396999999999,
90210,20230609,20,11620575,21431.906500000001,483.4187,208.8323,329.22739999999999,780.54160000000002,1488.9753000000001,1192.3598999999999,...,1182.4775,974.34609999999998,726.70129999999995,780.45119999999997,628.37860000000001,732.51220000000001,608.9212,517.17660000000001,1418.5039999999999,
90211,20230609,20,11620585,27769.122599999999,522.3733,237.5427,1012.755,1982.6934000000001,2600.5599000000002,1768.3683000000001,...,1561.7089000000001,1081.9064000000001,735.32749999999999,720.00810000000001,619.59849999999994,579.12540000000001,488.88909999999998,329.16219999999998,962.65260000000001,
90212,20230609,20,11620595,40822.445099999997,639.7606,336.2167,960.19299999999998,2249.8472000000002,3509.9461000000001,2580.8977,...,2184.3613,1619.7128,1144.0186000000001,1124.8843999999999,1056.1977999999999,1196.9358999999999,1032.6536000000001,826.48289999999997,1990.7153000000001,
90213,20230609,20,11620605,27795.369600000002,1254.7969,571.10940000000005,501,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [145]:
df.columns = df.columns.str.replace('\ufeff', '')

In [146]:
df.columns.values

array(['"기준일ID"', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수',
       '남자10세부터14세생활인구수', '남자15세부터19세생활인구수', '남자20세부터24세생활인구수',
       '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
       '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수',
       '남자55세부터59세생활인구수', '남자60세부터64세생활인구수', '남자65세부터69세생활인구수',
       '남자70세이상생활인구수', '여자0세부터9세생활인구수', '여자10세부터14세생활인구수',
       '여자15세부터19세생활인구수', '여자20세부터24세생활인구수', '여자25세부터29세생활인구수',
       '여자30세부터34세생활인구수', '여자35세부터39세생활인구수', '여자40세부터44세생활인구수',
       '여자45세부터49세생활인구수', '여자50세부터54세생활인구수', '여자55세부터59세생활인구수',
       '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수', None],
      dtype=object)

In [147]:
df.columns = df.columns.str.replace('"', '')

In [148]:
df

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,None
1,20230601,00,11350619,20480.003100000002,777.956,1002.934,1252.6470999999999,454.36720000000003,379.06920000000002,315.37090000000001,...,341.41739999999999,473.57049999999998,966.23689999999999,1431.5940000000001,1058.9313,902.9941,528.68769999999995,363.0009,1091.1654000000001,
2,20230601,00,11680750,19333.912199999999,792.7288,252.23179999999999,315.25740000000002,289.428,535.96849999999995,725.13080000000002,...,776.24289999999996,892.35900000000004,733.67809999999997,753.5575,589.20429999999999,695.28020000000004,681.0684,786.79349999999999,2075.6694000000002,
3,20230601,00,11680740,16734.231199999998,598.5521,383.18630000000002,640.00070000000005,410.72590000000002,400.70240000000001,623.86410000000001,...,601.26229999999998,911.72280000000001,794.8261,833.84079999999994,656.61080000000004,660.40129999999999,500.85809999999998,455.0788,846.84630000000004,
4,20230601,00,11680655,37204.530700000003,1954.0945,996.86450000000002,1083.5772999999999,732.44809999999995,935.69740000000002,963.47109999999998,...,1180.4358999999999,1790.1165000000001,1843.5413000000001,1934.0668000000001,1502.6302000000001,1299.8424,941.04229999999995,960.16669999999999,2378.1509000000001,
5,20230601,00,11650620,19631.3469,649.8112,396.4194,724.46029999999996,746.0453,507.14600000000002,535.36350000000004,...,589.77250000000004,835.28200000000004,797.57100000000003,939.94960000000003,779.51700000000005,764.37040000000002,699.3202,523.8623,1357.1672000000001,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90209,20230609,20,11620565,21269.019799999998,1240.2273,727.67079999999999,606.86369999999999,494.6003,525.74210000000005,525.85979999999995,...,577.3347,801.7944,873.79349999999999,926.80470000000003,764.51499999999999,814.17010000000005,699.48739999999998,634.99090000000001,1912.9396999999999,
90210,20230609,20,11620575,21431.906500000001,483.4187,208.8323,329.22739999999999,780.54160000000002,1488.9753000000001,1192.3598999999999,...,1182.4775,974.34609999999998,726.70129999999995,780.45119999999997,628.37860000000001,732.51220000000001,608.9212,517.17660000000001,1418.5039999999999,
90211,20230609,20,11620585,27769.122599999999,522.3733,237.5427,1012.755,1982.6934000000001,2600.5599000000002,1768.3683000000001,...,1561.7089000000001,1081.9064000000001,735.32749999999999,720.00810000000001,619.59849999999994,579.12540000000001,488.88909999999998,329.16219999999998,962.65260000000001,
90212,20230609,20,11620595,40822.445099999997,639.7606,336.2167,960.19299999999998,2249.8472000000002,3509.9461000000001,2580.8977,...,2184.3613,1619.7128,1144.0186000000001,1124.8843999999999,1056.1977999999999,1196.9358999999999,1032.6536000000001,826.48289999999997,1990.7153000000001,
90213,20230609,20,11620605,27795.369600000002,1254.7969,571.10940000000005,501,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [149]:
print(df['기준일ID'].dtype)

object

In [150]:
df['기준일ID'] = df['기준일ID'].astype(int)
df = df[df['기준일ID'] > 20230605]
df = df[df['기준일ID'] < 20230608]

In [151]:
df

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,None
50881,20230606,00,11110515,14963.516799999999,592.3774,377.46449999999999,522.31870000000004,401.26249999999999,334.62810000000002,346.27690000000001,...,530.77459999999996,638.84760000000006,677.75300000000004,866.83280000000002,636.83519999999999,664.04700000000003,507.00150000000002,370.43389999999999,1212.0415,
50882,20230606,00,11110530,12796.012699999999,338.9306,150.636,212.9211,278.19229999999999,406.8415,455.8415,...,535.0453,728.50980000000004,518.21600000000001,692.0009,544.95740000000001,522.80139999999994,425.36079999999998,304.75779999999997,957.12530000000004,
50883,20230606,00,11110540,3515.1644999999999,88.6861,67.954599999999999,122.08839999999999,231.88470000000001,118.6647,110.60039999999999,...,103.4277,142.42660000000001,160.49979999999999,186.34059999999999,117.5262,112.0908,133.29560000000001,105.4513,289.17669999999998,
50884,20230606,00,11110550,13464.4771,348.9065,270.53719999999998,467.07139999999998,427.54059999999998,364.94990000000001,330.89890000000003,...,365.85289999999998,487.32220000000001,628.16160000000002,775.49720000000002,572.76189999999997,590.08259999999996,466.94229999999999,387.9973,1060.0117,
50885,20230606,00,11110560,18686.3426,621.7298,449.71749999999997,626.35760000000005,596.68650000000002,484.42809999999997,391.39339999999999,...,467.2611,661.93889999999999,679.75459999999998,824.49720000000002,839.48469999999998,1096.2084,843.00599999999997,633.38130000000001,1650.9777999999999,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71228,20230607,23,11740650,25989.508099999999,1107.9846,384.34640000000002,483.62150000000003,552.35029999999995,950.37249999999995,1171.0293999999999,...,1210.4280000000001,1182.2019,930.20460000000003,1070.0895,907.48289999999997,1149.9195999999999,993.09720000000004,793.37360000000001,1831.5824,
71229,20230607,23,11740660,28100.499400000001,828.5413,498.03550000000001,879.76530000000002,889.68740000000003,992.31590000000006,1052.7177999999999,...,1077.2040999999999,1143.2535,1179.4023999999999,1173.5866000000001,1109.4608000000001,1255.2161000000001,1168.8039000000001,789.66899999999998,1956.1795999999999,
71230,20230607,23,11740685,58965.449500000002,1884.8927,911.47050000000002,1210.1937,1405.3803,2038.8719000000001,2262.2271000000001,...,2258.9756000000002,2431.7352999999998,2187.0556999999999,2531.5592999999999,2310.4503,2511.7865000000002,2354.9353999999998,1873.2123999999999,4715.5178999999998,
71231,20230607,23,11740690,5226.8669,250.7598,190.05009999999999,353.83969999999999,103.5488,109.2414,110.59050000000001,...,146.52799999999999,183.29920000000001,253.66900000000001,214.91499999999999,196.44820000000001,196.70359999999999,177.7782,140.87200000000001,396.77690000000001,
71232,20230607,23,11740700,26447.175999999999,1300.474,656.02970000000005,839.63990000000001,624.84839999999997,771.54010000000005,763.10619999999994,...,797.22159999999997,1030.1947,1003.3185999999999,1133.3502000000001,1086.6063999999999,1180.2376999999999,996.23419999999999,814.42759999999998,2007.1128000000001,

In [152]:
df = df.iloc[:, :-1]

In [153]:
df

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
50881,20230606,00,11110515,14963.516799999999,592.3774,377.46449999999999,522.31870000000004,401.26249999999999,334.62810000000002,346.27690000000001,...,421.0301,530.77459999999996,638.84760000000006,677.75300000000004,866.83280000000002,636.83519999999999,664.04700000000003,507.00150000000002,370.43389999999999,1212.0415
50882,20230606,00,11110530,12796.012699999999,338.9306,150.636,212.9211,278.19229999999999,406.8415,455.8415,...,512.41970000000003,535.0453,728.50980000000004,518.21600000000001,692.0009,544.95740000000001,522.80139999999994,425.36079999999998,304.75779999999997,957.12530000000004
50883,20230606,00,11110540,3515.1644999999999,88.6861,67.954599999999999,122.08839999999999,231.88470000000001,118.6647,110.60039999999999,...,104.9298,103.4277,142.42660000000001,160.49979999999999,186.34059999999999,117.5262,112.0908,133.29560000000001,105.4513,289.17669999999998
50884,20230606,00,11110550,13464.4771,348.9065,270.53719999999998,467.07139999999998,427.54059999999998,364.94990000000001,330.89890000000003,...,404.22570000000002,365.85289999999998,487.32220000000001,628.16160000000002,775.49720000000002,572.76189999999997,590.08259999999996,466.94229999999999,387.9973,1060.0117
50885,20230606,00,11110560,18686.3426,621.7298,449.71749999999997,626.35760000000005,596.68650000000002,484.42809999999997,391.39339999999999,...,493.42000000000002,467.2611,661.93889999999999,679.75459999999998,824.49720000000002,839.48469999999998,1096.2084,843.00599999999997,633.38130000000001,1650.9777999999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71228,20230607,23,11740650,25989.508099999999,1107.9846,384.34640000000002,483.62150000000003,552.35029999999995,950.37249999999995,1171.0293999999999,...,1374.5687,1210.4280000000001,1182.2019,930.20460000000003,1070.0895,907.48289999999997,1149.9195999999999,993.09720000000004,793.37360000000001,1831.5824
71229,20230607,23,11740660,28100.499400000001,828.5413,498.03550000000001,879.76530000000002,889.68740000000003,992.31590000000006,1052.7177999999999,...,1184.1677,1077.2040999999999,1143.2535,1179.4023999999999,1173.5866000000001,1109.4608000000001,1255.2161000000001,1168.8039000000001,789.66899999999998,1956.1795999999999
71230,20230607,23,11740685,58965.449500000002,1884.8927,911.47050000000002,1210.1937,1405.3803,2038.8719000000001,2262.2271000000001,...,2384.2618000000002,2258.9756000000002,2431.7352999999998,2187.0556999999999,2531.5592999999999,2310.4503,2511.7865000000002,2354.9353999999998,1873.2123999999999,4715.5178999999998
71231,20230607,23,11740690,5226.8669,250.7598,190.05009999999999,353.83969999999999,103.5488,109.2414,110.59050000000001,...,138.5378,146.52799999999999,183.29920000000001,253.66900000000001,214.91499999999999,196.44820000000001,196.70359999999999,177.7782,140.87200000000001,396.77690000000001
71232,20230607,23,11740700,26447.175999999999,1300.474,656.02970000000005,839.63990000000001,624.84839999999997,771.54010000000005,763.10619999999994,...,817.88430000000005,797.22159999999997,1030.1947,1003.3185999999999,1133.3502000000001,1086.6063999999999,1180.2376999999999,996.23419999999999,814.42759999999998,2007.1128000000001

In [161]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	population.ipynb

nothing added to commit but untracked files present (use "git add" to track)